html, body{
  font-family: "Open Sans";
  scroll-behavior: smooth;
}
#con{
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 7rem;
  box-sizing: border-box;
}
#con > .nav{
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  overflow: hidden;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  left: 0;
}
#con > .nav > span{
  position: relative;
  margin: auto;
  height: 100%;
}
#con > .nav > span > a{
  padding: 10px;
  display: inline-block;
  height: 100%;
  line-height: 3;
  box-sizing: border-box;
  text-decoration: none;
  color: #333333;
  position: relative;
  overflow: hidden;
}
#con > .nav > span > a:after{
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #555555;
  opacity: 0;
  transition: 0.2s;
}
#con > .nav > span > a:hover:after{
  opacity: 1;
  margin-top: -8px;
}

/* Content */
.tit{
  text-align: center;
}
span.tit{
  text-align: center;
  width: 100%;
  display: block;
  margin-top: -5px;
  margin-bottom: 50px;
}
li{
  padding-top: 60px;
  box-sizing: border-box;
}
li > p{
  margin-top: 0;
}
.code-con{
  padding: 10px;
  background: #f4f5f7;
  overflow: auto;
}
.list--content li{
  padding: 0 0;
}